/*header*/
.normalLogo{
  display: none;
}
@media (max-width: 991px) {
  .inverted{
    display: none;
    
  }
  .normalLogo {
    display: block;
  }
}
@media (max-width: 768px) {
  .header-area {
    margin-top: 12rem !important;
  }

  .welcome-area {
    margin-top: 12rem !important;
  }

  .head-icon {
    height: 12rem !important;
  }

  .head-icon .icon {
    height: 45% !important;
  }
}


.updates{
  margin: 10px;
}
.updt1{
  margin: 10px;
  color: black;
  text-decoration: none;
}

.logoicon{
  height: 50px;
  margin-left: 30px;
  padding-bottom: 10px;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

